.header {
  display: flex;
  align-items: center;
  top: 0;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .img {
    max-height: 32px;
  }
  .title-group {
    padding-left: 20px;
    i {
      padding: 0px 5px;
  }}
}
