<mat-card class="principal mat-elevation-z2">
  <mat-card-title class="title">
    Apresentação
  </mat-card-title>
</mat-card>
<mat-card class="conteudo mat-elevation-z2">
  <div>
    <img src="../../../assets/img/fotoGabriel.jpg" alt="">
  </div>
  <mat-card-content class="content">
    <div class="content2">
      <a mat-list-item>
        <i class="material-icons">perm_identity</i>
      </a>
      <p>Gabriel Hernandes Schincariol</p>
    </div>
    <br>
    <section class="informacoes">
      <mat-accordion>
        <mat-expansion-panel hideToggle class="conhecimentos">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Conhecimentos
              <i class="material-icons">verified</i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ol>
              <li>Angular</li>
              <li>Javascript</li>
            </ol>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle class="idade">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Idade
              <i class="material-icons">event</i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p>17 anos</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle class="escolaridade">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Escolaridade
              <i class="material-icons">menu_book</i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p>Cursando Ensino Médio</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </mat-card-content>
</mat-card>