<mat-card class="principal mat-elevation-z2">
  <mat-card-title class="title">
    Gostos
  </mat-card-title>
</mat-card>
<mat-card class="conteudo mat-elevation-z2">
  <mat-card-content class="content">
    <section class="informacoes">
      <mat-accordion>
        <mat-expansion-panel hideToggle class="programacao">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Programação
              <i class="material-icons">laptop</i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ul>
              <li>Lógica da programação</li>
              <li>Matemática</li>
              <li>Java</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle class="jogos">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Jogos
              <i class="material-icons">sports_esports</i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ul>
              <li>COD</li>
              <li>Pokemon</li>
              <li>GTA SA</li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle class="filmes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filmes
              <i class="material-icons">play_circle_filled</i>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p>Ficção Científica</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </mat-card-content>
</mat-card>