<mat-card class="principal mat-elevation-z2">
  <mat-card-title class="title">
    Redes Sociais
  </mat-card-title>
</mat-card>
<mat-card class="conteudo mat-elevation-z2">
  <mat-card-content class="content">
    <div class="imagens">
      <a target="_blank" href="https://m.facebook.com/gabriel.hernandesschincariol"><img
          src="../../../assets/img/facebook.png" alt="Facebook" title="Facebook"></a>
      <a target="_blank" href="https://www.linkedin.com/in/gabrielschincariol/"><img
          src="../../../assets/img/linkedin.png" alt="Linkedin" title="Linkedin"></a>
      <a target="_blank" href="https://www.instagram.com/gsschin/"><img src="../../../assets/img/instagram.png"
          alt="Instagram" title="Instagram"></a>
    </div>
  </mat-card-content>
</mat-card>